body {
    font-family: 'Noto Sans HK', sans-serif;
}

header {
    text-align: center;
    background-color: lightblue;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}
.container-fluid {
    margin-right: 15px;
}

.searchCont {
    padding: 25px;
}

#cityInput {
    height: 50px;
}